.auth-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .auth-container {
        width: 400px;
    }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
